* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.custom-btn {
  background-color: #9E4CDF;
  color: #ffffff;
  border-radius: 24px;
  padding: 15px 20px;
  font-weight: 700;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.custom-btn:hover {
  color: #ffffff;
  background: #C57BFF;
}

.custom-btn-2 {
  background-color: #9E4CDF;
  color: #ffffff !important;
  border-radius: 4px;
  padding: 8px 15px !important;
  font-weight: 700;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.custom-btn-2:hover {
  color: #ffffff;
  background: #C57BFF;
}

body {
  background-image: url(../images/full-bck.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background: rgba(31, 172, 236, 0.04);
}

body hr {
  border: 1px solid #C4C4C4;
}

#nav-wrapper {
  position: relative;
}

#nav-wrapper .custom-navbar-1 {
  font-size: 14px;
  font-weight: 700;
  color: #444444;
  font-family: "Oxygen", sans-serif;
  padding: 0 0 0 100px;
}

#nav-wrapper .custom-navbar-1 li {
  padding: 0 40px 0 0;
}

#nav-wrapper .custom-navbar-1 li a {
  color: #444444;
}

#nav-wrapper .custom-navbar-2 {
  font-size: 14px;
  font-weight: 700;
  color: #444444;
  font-family: "Oxygen", sans-serif;
  padding: 0;
  z-index: 0;
}

#nav-wrapper .custom-navbar-2 li {
  padding: 0 0 0 20px;
}

#main-header-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15.1%, #72CFFA), color-stop(90.1%, rgba(114, 207, 250, 0)));
  background: linear-gradient(180deg, #72CFFA 15.1%, rgba(114, 207, 250, 0) 90.1%);
  color: #444444;
  font-family: "Oxygen", sans-serif;
  position: relative;
  padding: 0 0 255px 0;
}

#main-header-wrapper h1 {
  font-size: 48px;
  font-weight: 700;
  padding: 100px 560px 35px 0;
}

#main-header-wrapper p {
  font-size: 16px;
  font-weight: 400px;
  padding: 0 500px 35px 0px;
}

#main-header-wrapper .header-btn .learn-more {
  text-decoration: none;
  margin: 0 0 0 20px;
  font-size: 14px;
  color: #9E4CDF;
}

#main-header-wrapper .header-btn .learn-more img {
  margin: 0 0 2px 5px;
}

#main-header-wrapper .bottom-img {
  position: absolute;
  top: 350px;
  right: 100px;
}

#best-company-wrapper {
  text-align: center;
  color: #444444;
  font-family: "Oxygen", sans-serif;
  padding: 60px 0;
}

#best-company-wrapper .content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#best-company-wrapper .best-company-content {
  padding: 100px 0;
}

#best-company-wrapper .best-company-content h2 {
  font-size: 36px;
  font-weight: 400;
  padding: 35px 0 35px;
  margin: 0;
}

#best-company-wrapper .best-company-content p {
  font-size: 16px;
  font-weight: 400;
  padding: 0 90px;
  line-height: 20px;
}

#book-cleaner-wrapper {
  text-align: center;
  color: #444444;
  font-family: "Oxygen", sans-serif;
}

#book-cleaner-wrapper .book-cleaner-header h1 {
  font-size: 54px;
  font-weight: 700;
  padding: 30px 0;
}

#book-cleaner-wrapper .book-cleaner-content .content-wrap {
  margin: 0 0 50px;
}

#book-cleaner-wrapper .book-cleaner-content .content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 24px;
}

#book-cleaner-wrapper .book-cleaner-content .content-text-1 {
  padding: 10px 30px 0;
}

#book-cleaner-wrapper .book-cleaner-content .content-text-2 {
  padding: 0 45px;
}

#stacks-up-wrapper {
  text-align: center;
  color: #444444;
  font-family: "Oxygen", sans-serif;
  padding: 35px 0 45px;
}

#stacks-up-wrapper h1 {
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 20px;
}

#stacks-up-wrapper p {
  font-weight: 300;
  font-size: 18px;
  margin: 0px 0 35px;
}

#stacks-up-wrapper p .faq {
  color: #27debf;
  text-decoration: none;
}

#bangladesh-wrapper {
  text-align: center;
  color: #444444;
  font-family: "Oxygen", sans-serif;
  padding: 30px 0 20px;
}

#bangladesh-wrapper .ban-content-wrap {
  padding: 65px 0 0;
}

#bangladesh-wrapper .ban-content-wrap h2 {
  font-size: 36px;
  font-weight: 700;
}

#bangladesh-wrapper .ban-content-wrap .ban-body {
  padding: 25px 50px 0;
  font-size: 18px;
  font-weight: 400;
}

#bangladesh-wrapper .ban-content-wrap .ban-bottom-line {
  padding: 20px 0 0;
  font-size: 16px;
  font-weight: 300;
}

#place-sparking-wrapper {
  text-align: center;
  color: #444444;
  font-family: "Oxygen", sans-serif;
  padding: 35px 0 70px;
}

#place-sparking-wrapper h1 {
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 30px;
}

#place-sparking-wrapper p {
  font-weight: 300;
  font-size: 18px;
  margin: 20px 0 0;
}

#place-sparking-wrapper p .faq {
  color: #27debf;
  text-decoration: none;
}

#footer-wrapper {
  font-family: "Oxygen", sans-serif;
  color: #444444;
  background: rgba(158, 76, 223, 0.27);
  padding: 45px 0 0;
}

#footer-wrapper .footer-content {
  font-size: 18px;
  font-weight: 300;
  padding: 20px 50px 0 0;
}

#footer-wrapper .footer-content span {
  font-weight: 700;
}

#footer-wrapper .footer-item-wrap {
  font-size: 18px;
}

#footer-wrapper .footer-item-wrap .footer-title {
  padding: 0 0 25px;
}

#footer-wrapper .footer-item-wrap .footer-title h3 {
  font-size: 18px;
  font-weight: 700;
}

#footer-wrapper .footer-item-wrap ul {
  list-style: none;
}

#footer-wrapper .footer-item-wrap ul li {
  padding: 0 0 8px;
}

#footer-wrapper .footer-item-wrap a {
  color: #444444;
  font-weight: 300;
  text-decoration: none;
  font-size: 18px;
}

#footer-wrapper .footer-item-wrap .sl {
  padding: 0 10px 0 0;
  max-width: 35px;
}

#footer-wrapper .copyright-wrap p {
  margin: o;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}

#footer-wrapper .copyright-wrap p span {
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */