@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #666;
    font-family: 'Questrial', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;

    #custom-video-player {
        .custom-video-player-wrap {
            h1 {
                font-family: 'Questrial', sans-serif;
                color: #fdfdf6;
                text-align: center;
                margin: 0 0 20px;
            }

            .video-player {
                display: flex;
                .screen {
                    cursor: pointer;
                    max-width: 60%;
                    background-color: #000;
                    margin: 0 auto;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    
                }
                
            }
            .controls {
                max-width: 60%;
                margin: 0 auto;
                padding: 0 10px;
                background: #333;
                color: #fff;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    color: #ccc;
                    
                }
                
                .btn:focus {
                    outline: #333 !important;
                }
                .play-icon {
                    color: #28a745;
                }
                .stop-icon {
                    color: #dc3545;
                }
                .pause-icon {
                    color: rgb(187, 187, 38);
                }
                span {
                    padding: 0 0 0 7px;
                }
            }
            
        }
    }

}
