@font-face{
    font-family:'bebas-regular';
    src: url('../fonts/Bebas-Regular.ttf');
}
@font-face{
    font-family: 'bebas-neue-bold' ;
    src: url('../fonts/BebasNeue-Bold.ttf') ;
}
@font-face{
    font-family: 'bebas-neue-light' ;
    src: url('../fonts/BebasNeue-Light.ttf') ;
}
@font-face{
    font-family: 'bebas-neue-regular' ;
    src: url('../fonts/BebasNeue-Regular.ttf') ;
}
@font-face{
    font-family: 'bebas-neue-thin' ;
    src: url('../fonts/BebasNeue-Thin.ttf') ;
}
@font-face{
    font-family: 'sfpro-bold' ;
    src: url('../fonts/SFProDisplay-Bold.ttf') ;
}
@font-face{
    font-family: 'sfpro-medium' ;
    src: url('../fonts/SFProDisplay-Medium-1.ttf') ;
}
@font-face{
    font-family: 'sfpro-regular' ;
    src: url('../fonts/SFProDisplay-Regular-1.ttf') ;
}
@font-face{
    font-family: 'sfpro-semibold' ;
    src: url('../fonts/SFProDisplay-Semibold.ttf') ;
}
@font-face{
    font-family: 'avalon-bold';
    src: url('../fonts/Avalon_Bold.ttf');
}
@font-face{
    font-family: 'avalon' ;
    src: url('../fonts/Avalon.ttf') ;
}
@font-face{
    font-family: 'brushot-bold' ;
    src: url('../fonts/Brushot-Bold.ttf') ;
}