///////////////////////////////
//////////////////////////////
// FONTS VARIABLE --->
$avalon: 'avalon';
$avalon-bold: 'avalon-bold';

$bebas-regular: 'bebas-regular';
$brushot-bold: 'brushot-bold';
$bebas-neue-bold: 'bebas-neue-bold';
$bebas-neue-light: 'bebas-neue-light';
$bebas-neue-regular: 'bebas-neue-regular' ;
$bebas-neue-thin: 'bebas-neue-thin';

$sfpro-bold: 'sfpro-bold';
$sfpro-medium: 'sfpro-medium';
$sfpro-regular: 'sfpro-regular' ;
$sfpro-semibold:'sfpro-semibold';

///////////////////////////////
//////////////////////////////
// COLORS VARIABLE --->

$white: #ffffff;
$black: #000000;
$primary-color-1:#f6f0e4;
$primary-color-2: #f6bd3b;
$primary-color-3: #e85c37;
$font-color-1:#f8633b;
$font-color-2:#361e1d; 
$nav-color: #262626;

//HOME 2
$primary-color-21:  linear-gradient(131deg, #00b4e8 36%, #10267b 126%);
$primary-color-22: #00b5e9;
$primary-color-23: #030041;
$primary-color-24: #ddf9ff;

//HOME 3
$primary-color-31:  linear-gradient(120deg, #496fff 7%, #ea82ff 122%);
$primary-color-32: #ff5f6f;;
$primary-color-33: #3e2d9e;
$primary-color-34: #150d41;
$primary-color-35: #f6edff;
